*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}



/* barra de navegacion  */


#contenidosDeNavegacion{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.449);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
}

.elementoDeNav{
    text-decoration: none;
    display: flex;
    color: #dcdada;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.elementoDeNav:hover{
    transition: .6s;
    text-decoration: none;
    display: flex;
    color: rgba(0, 0, 0, 0.449);
    background-color: #dcdada;
    align-items: center;
    justify-content: center;
}

#pantallaDeInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( 120deg, #4d5056, #131417);
    color: #EEEEEE;
}

#pantallaDeInicio div{
    z-index: 1;
}
@keyframes rotacionDeObjeto {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#objeto1{
    z-index: 1;
    position: absolute;
    right: 100px;
    top: 250px;
    width: 150px;
    height: 150px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction:;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto2{
    z-index: 1;
    position: absolute;
    right: 204px;
    top: 142px;
    width: 150px;
    height: 150px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction:;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto3{
    z-index: 1;
    position: absolute;
    right: 235px;
    top: 276.5px;
    width: 150px;
    height: 150px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto4{
    z-index: 1;
    position: absolute;
    right: 69px;
    top: 115px;
    width: 150px;
    height: 150px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto5{
    z-index: 1;
    position: absolute;
    right: 303px;
    top: 395px;
    width: 150px;
    height: 150px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction: ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto6{
    z-index: 1;
    position: absolute;
    right: 800px;
    top: 395px;
    width: 110px;
    height: 110px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto7{
    z-index: 1;
    position: absolute;
    right: 900px;
    top: 388px;
    width: 110px;
    height: 110px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 2s;
    animation-direction: ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto8{
    z-index: 1;
    position: absolute;
    right: 650px;
    top: -10px;
    width: 230px;
    height: 230px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#objeto9{
    z-index: 1;
    position: absolute;
    right: 1000px;
    top: -150px;
    width: 400px;
    height: 400px;
    filter: invert(100%);
    animation-name: rotacionDeObjeto;
    animation-duration: 7s;
    animation-direction: ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#objeto10{
    position: absolute;
    width: 560px;
    height: 560px;
    z-index: 0;
    animation-name: rotacionDeObjeto;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*--------------------------------*/

#contenedorDeJuegos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 80deg, #4d5056, #131417);
}

#ajustadorDeSubcontenedor{
    width: auto;
    height: auto;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(230deg, #EAEAEA 60%, #08D9D6 50%, #FF2E63 20% );
}

#subcontenedorDeJuegos{
    width: 100%;
    margin: 20px 50px 20px 50px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.espacioDeJuego{
    background:  rgba(255,255,255,0.1);  
    backdrop-filter: blur(10px);
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.espacioDeJuego:hover .cajaDeImagen{
    transition: 0.5s;
    transform: scaleY(0);
    border-radius: 5px;
}

.espacioDeJuego:not(hover) .cajaDeImagen{
    transition: 0.5s;
    border-radius: 5px;
}

.cajaDeImagen{
    backdrop-filter: blur(10px);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.cajaDeImagen img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}

/* Botones de Jugar */

.botonDeJugarYa{
    text-decoration: none;
    display: flex;
    color: #dcdada;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
}

.botonDeJugarYa::before{
    content: 'Jugar';
    text-decoration: none;
    display: flex;
    background-color: #4d5056;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 20px;
    
}